@media (min-width: 1200px) {
    div.container, div.container-lg, div.container-md, div.container-sm, div.container-xl {
        max-width: 75%;
    }
}


.container_main {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}