.auth {
    &__card {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 500px;
        max-height: 690px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #e4d5f1;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.04);

        @media screen and (max-width: 768px) {
            width: 420px;
        }

        @media screen and (max-width: 460px) {
            width: 100%;
        }

        &_bg {
            position: relative;
            width: 100%;
            height: 100%;
            background: rgb(231, 190, 234);
            background: linear-gradient(
                90deg,
                rgba(231, 190, 234, 1) 30%,
                rgba(255, 227, 184, 1) 100%
            );

            @media screen and (max-width: 460px) {
                display: none;
            }

            .title {
                position: absolute;
                z-index: 5;
                bottom: 50px;
                width: 100%;
                padding: 10px 20px;
                line-height: 12px;
                text-align: center;

                @media screen and (max-width: 992px) {
                    display: none;
                }

                p {
                    margin-bottom: 10px;
                    color: rgba($color: #301f3e, $alpha: 0.7);
                }

                span {
                    color: #6236ff;
                }

                h1 {
                    font-weight: 700;
                    color: rgba($color: #301f3e, $alpha: 0.7);
                    font-size: 40px;
                    text-transform: uppercase;
                }
            }

            img {
                position: absolute;
                width: 550px;
                top: calc(50% - 60px);
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 0;
                opacity: 0.6;

                @media screen and (max-width: 992px) {
                    top: 50%;
                }
            }
        }
    }
    &__form {
        position: relative;
        min-width: 420px;
        height: 100%;
        background-color: white;
        padding: 62px;
        z-index: 10;

        @media screen and (max-width: 460px) {
            min-width: 100%;
            padding: 40px;
        }

        @media screen and (max-width: 400px) {
            padding: 20px;
        }

        > div {
            margin-top: 38px;
        }

        h1 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 50px;
        }

        input {
            border: none;
            background-color: rgba(0, 0, 0, 0.04);
            height: 43px;
            padding-left: 20px;
            font-size: 14px;
        }

        button {
            height: 43px;

            &.btn-primary {
                margin-top: 30px;
            }
        }

        .form-group a {
            display: block;
            float: right;
            margin-bottom: 30px;
            cursor: pointer;
        }

        a,
        p.text-muted {
            font-size: 80%;

            span {
                color: #6236ff;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &_footer {
            position: absolute;
            width: 100%;
            bottom: 45px;
            left: 0;
            text-align: center;
            font-size: 13px;
        }
    }
}
