.card {
    width: 18rem;
}

.table {
    margin: auto;
    width: 100%; 
}

.dropdown {
    margin: auto;
    width: 100%;
    background-color: rgba(122, 122, 122, 0.3);
    border: 0px;
    padding: 0px;
    border-radius: 0px;
}

.dropdown:hover {
    background-color: rgba(122, 122, 122, 0.5);
}
