.center {
    margin: auto;
    width: 75%; 
    text-align: center;
}

.border {
    border: 3px solid rgb(175, 9, 180);
}

.table {
    margin: auto;
    width: 75%; 
}

.color {
    background-color: rgba(150, 150, 150, 0.233);
}